   *{
	   box-sizing:border-box;
   } 
	
	header{
		background-color: grey;
		text-align: center;
		padding: 18px;
	    }
	   
	#header p,h1{
		color:beige;
	    }
	
	nav ul{
		list-style-type: none;
		margin:0;
		padding:0;
		overflow:hidden;
		background-color:lightgrey;
		
	}
	
	nav li{
		float:left;
		width:25%;
	}
	
	nav a{
		display:block;
		color:white;
		text-align:center;
		padding: 14px 16px;
		text-decoration:none;
		
	}
	
	nav a:hover{
		background-color:black;
		color:beige;
	}
	
	.active{
		background-color: black;
		color:white;
		
	}
	
	@media (max-width:800px){
		.about{
			flex-direction:column;
		}
	}
	
	h2{
		font-size:35px;
		padding-bottom:12px;
		font-family: Sans-serif;
	}

	h3{
		font-size:35px;
		padding-bottom:12px;
		padding-top:50px;
		font-family: Sans-serif;
	}
	
	p{
		font-size:25px;
		font-family: Sans-serif;
	}
	
	table{
		margin-top:10px;
	}
	
	article{
		padding: 50px;
		border: grey;
		border-width: 5px;
		border-radius: 15px;
		background-color: beige;
	}

	footer{
		border: grey;
		padding: 15px;
		text-align: center;
		background: grey;
		color: white;

		}
	.contact-details {display:inline;padding:10px;}
