  *{
	   box-sizing:border-box;
   } 
	
	header{
		background-color: grey;
		text-align: center;
		padding: 18px;
	    }
	   
	#header p,h1{
		color:beige;
	    }
	
	nav ul{
		list-style-type: none;
		margin:0;
		padding:0;
		overflow:hidden;
		background-color:lightgrey;
		
	}
	
	nav li{
		float:left;
		width:25%;
	}
	
	nav a{
		display:block;
		color:white;
		text-align:center;
		padding: 14px 16px;
		text-decoration:none;
	}
	
	nav a:hover{
		background-color:black;
		color:beige;
	}
	
	.active{
		background-color: black;
		color:white;
		
	}
	
	@media (max-width:800px){
		.about{
			flex-direction:column;
		}
	}
	
	#dronePans{
		padding-top: 30px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 30px;
	}
	
	#bottom-right{
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	#image-text {
		  position: relative;
		  text-align: center;
		  color: white;
		  font-size: 3vw;
		  font-family: Sans-serif;
	}
	
	.carousel {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 70%;
		  padding-top: 30px;
	}
	
	.text{
		font-size:25px;
		font-family:Sans-serif;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}

	.end-text{
		font-family: Sans-serif;
		text-align: center;
		padding: 10px;
	}
	
	h3{
		font-family: Sans-serif;
		font-size: 35px;
		text-align: center;
	}
	
        .heading-padding{
		padding-top:30px;
        }
	
	.road-maps{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		padding-top: 30px;
	}
	
	.float-child{
		width: 50%;
		float: left;
	}
	
	.trip-info{
		text-align: center;
		font-family: Sans-serif;
		padding: 20px;
	}
	
	.float-container{
		
	}
	
	.container1{

		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		align-items: center;

	}
	
	.flexbox{
		width:400px;
		margin:5px;
		padding: 5px;
	}
	.item1{
		min-height:150px;
		font-size: 30px;
		flex-grow:1;
	}
	
	.main-container{
		display:flex;
		flex-wrap:wrap;
		margin-left: 30px;
		margin-right: 3opx;
		float: left;
		column-gap: 10px;
		row-gap: 10px;
	}
	
	.images{
		width: 300px;
		height: 300px;
		object-fit: cover;
	}

	
	table{
		margin-top:10px;
	}
	

	footer{
		border: grey;
		padding: 15px;
		text-align: center;
		background: grey;
		margin-top:10px;
		color: white;
		}
	.contact-details {display:inline;padding:10px;}
